



<footer>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>

  <div class="copyright">
    © Wanderlust Private Limited
  </div>

  <div class="footer-links">
    <a href="#">Privacy</a> | <a href="#">Terms</a>
  </div>
</footer>
